.footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-background;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  .email-subscribe {
    flex-wrap: wrap;
  }
  @include mq(noDesk) {
    .logo,
    .address,
    .address__item {
      display: flex;
      justify-content: center;
    }
    .footer__tittle,
    .subscribe-title {
      text-align: center;
    }
  }
  // @include mq(tab) {
  //   .email-subscribe {
  //     // flex-direction: column;
  //   }
  // }

  &__tittle {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $primary-white;
  }
  &__container {
    @include mq(tab-only) {
      justify-content: space-around;
      align-items: baseline;
    }

    display: flex;
    flex-direction: column;
    gap: 60px;

    @include mq(tab) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__element:last-child {
    @include mq(desk) {
      margin-left: auto;
    }
  }
  .logo {
    margin-bottom: 20px;
    &-text {
      color: $primary-white;
    }
  }
  .social__link {
    background-color: $social__link-bgc;
    transition: background-color $transition;
  }

  .social__icon {
    color: $primary-white;
  }

  .social__link:hover,
  .social__link:focus {
    background-color: $accent;
  }
}
