.header {
  border-bottom: 1px solid $header-border-clr;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  .mobile-menu__btn {
    margin-left: auto;
  }
  @include mq(mob-only) {
    .nav,
    .contacts {
      display: none;
    }
  }
  @include mq(tab) {
    .contacts__link {
      font-size: 12px;
      line-height: 1.17;
    }
  }
  @include mq(desk) {
    .contacts__link {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    &-text {
      color: $logo-bl;
    }
    @include mq(tab) {
      margin-right: 87px;
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }
  .contacts {
    margin-left: auto;
    @include mq(tab) {
      flex-direction: column;
    }
    @include mq(desk) {
      gap: 50px;
      flex-direction: row;
    }
  }
}
