.hero {
  // зображення для мобільного
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/index-img/hero-img/hero_mob_480.jpg');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index-img/hero-img/hero_mob_960.jpg');
  }
  // зображення для таблетки
  @include mq(tab) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index-img/hero-img/hero_tab_768.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/index-img/hero-img/hero_tab_1536.jpg');
    }
  }
  // зображення для десктопу
  @include mq(desk) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index-img/hero-img/hero_desk_1600.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/index-img/hero-img/hero_desk_3200.jpg');
    }
  }

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: $dark-background;
  @include mq(desk) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    display: inline-block;
    max-width: 360px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white;
    @include mq(desk) {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      max-width: 670px;
    }
  }
}
