.team {
  background-color: $light-grey-bgc;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.team__item {
  background-color: $primary-white;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: $primary-black;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
}
