.work {
  padding-top: 0;
}

.work__list {
  @include mq(tab) {
    --card-item: 2;
  }
}

.work__item {
  position: relative;
}

.work__dsc {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  padding: 27px;
}

.work__text {
  font-weight: 700;
  color: $primary-white;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
}
