.filter {
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 6px 22px;
    background-color: $light-grey-bgc;
    color: $primary-black;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color $transition, color $transition, box-shadow $transition;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
    @include mq(tab) {
      justify-content: center;
    }
  }

  &__item {
    margin-right: 0;
  }

  &__item:nth-child(n + 2) {
    margin-left: 8px;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: $accent;
    color: $primary-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
