.modal {
  position: absolute;
  background-color: $primary-white;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 1200ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1) rotate(0);
  @include mq(desk) {
    width: 530px;
  }
  &__icon {
    display: block;
    transition: fill $transition;
  }
  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  &__btn:focus-within &__icon,
  &__btn:hover &__icon {
    fill: $accent;
  }
}
