.nav {
  display: flex;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color $transition;

  color: $primary-black;
}

.nav__link:hover,
.nav__link.link:focus {
  color: $accent;
}

.nav__link--current {
  color: $accent;
  position: relative;
}
@include mq(tab) {
  .nav__link--current::after {
    position: absolute;
    bottom: -1px;
    content: '';

    display: block;
    width: 100%;
    height: 4px;
    padding: 0;
    border-radius: 2px;
    background-color: $accent;
  }
}
